**Title**
<br>
COL Financial Investment Guide

**Author**
<br>
Ronald Benz M. Zhang

**Date**
<br>
April 1, 2022

**Description**

This program is intended for the users of COL Financial, one of the top stockbrokers in the Philippines, to extract data from the PDF version of the stockbroker's Investment Guide to Python and export to other files (CSV or Microsoft Excel) for quantitative analysis.

Although the website version can be easily copy and paste to Microsoft Excel, however, it does not contain other financial data and historical data unlike the PDF version.

Some of the variables are analysts' estimates. Please check the file for more information. Since this program is based on the file. Any changes on the file might make this program obsolete.

In [1]:
import pandas as pd

In [2]:
path = 'COL Financial Investment Guide March 25, 2022.pdf'

# Investment Guide

In [3]:
import tabula

In [4]:
ig = tabula.read_pdf(path, pages = 'all')

In [5]:
if len(ig) == 2:
    ig_a, ig_b = ig[0], ig[1] # COL Financial Investment Guide March 25, 2022.pdf
elif len(ig) == 4:
    ig_a, ig_b = ig[0], ig[2] # COL Financial Investment Guide March 18, 2022.pdf

In [6]:
ig_a.head()

,"Banks and Financials\r1,615,356555,478626,884625,715613,91622%13%0%-2%",Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,BDO,BANCO DE ORO,132.50,BUY,10/26/21,168.00,140.00,"4,386","581,117","180,512","188,910","191,845","206,158",22%,5%,2%,7%
1,BPI,BANK OF PHIL ISLANDS,99.90,BUY,10/25/21,112.00,93.00,"4,513","450,862","94,334","101,712","96,396","102,385",20%,8%,-5%,6%
2,CHIB,CHINA BANKING CORP,26.40,BUY,11/11/21,43.00,34.40,"2,691","71,050","34,482","43,854","48,359","46,265",50%,27%,10%,-4%
3,EW,EASTWEST BANKING COR,8.40,BUY,11/19/21,16.80,12.90,"2,250","18,900","28,358","33,083","28,906","29,616",13%,17%,-13%,2%
4,MBT,METROPOLITAN BANK,54.55,BUY,11/8/21,98.00,81.60,"4,496","245,334","106,051","121,236","100,970","107,775",16%,14%,-17%,7%

In [7]:
ig_b.head()

,BDO,"44,194","28,246","43,887","46,343",35%,-36%,55%,6%,10.02,...,56%,6%.1,13.2,20.8,13.3,13.3.1,0.5,1.2,10.3,0.9%
0,BPI,"28,803","21,409","22,883","28,910",25%,-26%,7%,26%,6.40,...,7%,26%,15.6,21.1,19.7,19.7,1.2,1.4,9.5,1.8%
1,CHIB,"10,069","12,063","15,187","15,104",24%,20%,26%,-1%,3.75,...,26%,-1%,7.0,5.9,4.7,4.7,0.4,0.5,12.2,3.8%
2,EW,"6,242","6,508","6,749","6,420",38%,4%,4%,-5%,2.77,...,4%,-5%,3.0,2.9,2.8,2.8,0.0,0.3,9.8,0.0%
3,MBT,"28,055","13,831","22,166","27,191",27%,-51%,60%,23%,6.24,...,60%,23%,8.7,17.7,11.1,11.1,0.3,0.7,8.0,1.8%
4,PNB,"9,681","2,615","26,168","8,030",2%,-73%,901%,-69%,6.98,...,901%,-69%,2.7,11.0,1.1,1.1,0.0,0.2,5.6,0.0%

#### Year

There are four years in the file. Assign the earliest year to the variable `year`.

In [8]:
year = 19

#### String to Number

The function `string_number` takes a string as an input then returns a number as an output.

First, the function cleans the string from accounting format to non-accounting format.

**A. Accounting Number Format**

For example: from (1,000.00) to -1000.00.

`string.replace('(', '-').replace(',', '').strip(')')`

Second, the function matches the string with the following patterns.

**B. Other Number Formats**

1. Whether the string starts with a negative sign `\-?` (match and include).

2. Whether the string is a float or an integer `\d+\.?\d*` (match and include).

3. Whether the string ends with a percentage sign `(?=\%)?` (match but do not include).

If the string matches the patterns, then the number is returned, else `NaN` is returned.

In [9]:
import regex as re

In [10]:
def string_number(string):
    string = string.replace('(', '-').replace(',', '').strip(')')
    string = re.match('\-?' + '\d+\.?\d*' + '(?=\%)?', string)
    if string is not None:
        return float(string[0])
    else:
        return float('nan')

# Investment Guide A

**Variables**
<br>
Ticker - Ticker
<br>
CN - Company Name
<br>
P - Price
<br>
COL Rating - COL Rating
<br>
Date of Update - Date of Update
<br>
COL FV - COL FV
<br>
Buy Below - Buy Below
<br>
OS (Million) - Outstanding Shares in Million
<br>
MC (Million) - Market Capitalization in Million
<br>
R - Revenue
<br>
R (%) - Revenue Growth

In [11]:
ig_a.columns = ['Ticker',
                'CN',
                'P',
                'COL Rating',
                'Date of Update',
                'COL FV',
                'Buy Below',
                'OS (Million)',
                'MC (Million)'] + ['R' + str(year + i) for i in range(4)] + ['R' + str(year + i) + ' (%)' for i in range(4)]

In [12]:
ig_a.dropna(inplace = True)
ig_a.set_index('Ticker', inplace = True, drop = True)

In [13]:
ig_a.head()

,CN,P,COL Rating,Date of Update,COL FV,Buy Below,OS (Million),MC (Million),R19,R20,R21,R22,R19 (%),R20 (%),R21 (%),R22 (%)
Ticker,,,,,,,,,,,,,,,,
BDO,BANCO DE ORO,132.50,BUY,10/26/21,168.00,140.00,"4,386","581,117","180,512","188,910","191,845","206,158",22%,5%,2%,7%
BPI,BANK OF PHIL ISLANDS,99.90,BUY,10/25/21,112.00,93.00,"4,513","450,862","94,334","101,712","96,396","102,385",20%,8%,-5%,6%
CHIB,CHINA BANKING CORP,26.40,BUY,11/11/21,43.00,34.40,"2,691","71,050","34,482","43,854","48,359","46,265",50%,27%,10%,-4%
EW,EASTWEST BANKING COR,8.40,BUY,11/19/21,16.80,12.90,"2,250","18,900","28,358","33,083","28,906","29,616",13%,17%,-13%,2%
MBT,METROPOLITAN BANK,54.55,BUY,11/8/21,98.00,81.60,"4,496","245,334","106,051","121,236","100,970","107,775",16%,14%,-17%,7%

# Investment Guide B

**Variables**
<br>
Ticker - Ticker
<br>
NI - Net Income
<br>
NI (%) - Net Income Growth
<br>
EPS - Earnings per Share
<br>
EPS (%) - Earnings per Share Growth
<br>
PE - Price to Earnings
<br>
PEG - Price to Earnings to Growth
<br>
PBV - Price to Book Value
<br>
ROE - Return on Equity
<br>
DY (%) - Dividend Yield

#### Column Name is Stock

Because the column name of `ig_b` is a stock. `list(ig_b.columns)` is assigned to `stock`. The stock is appended to `ig_b` and the column name of `ig_b` is renamed.

In [14]:
stock = list(ig_b.columns)

In [15]:
NI = ['NI' + str(year + i) for i in range(4)]
NIG = ['NI' + str(year + i) + ' (%)' for i in range(4)]
EPS = ['EPS' + str(year + i) for i in range(4)]
EPSG = ['EPS' + str(year + i) + ' (%)' for i in range(4)]
PE = ['PE' + str(year + i) for i in range(4)]

In [16]:
ig_b.columns = ['Ticker'] + NI + NIG + EPS + EPSG + PE + ['PEG' + str(year + 2),
                                                          'PBV' + str(year + 3),
                                                          'ROE' + str(year + 3),
                                                          'DY' + str(year + 3) + ' (%)']

In [17]:
dictionary = {}

for i in range(len(ig_b.columns)):
    dictionary[ig_b.columns[i]] = stock[i]
    
ig_b = ig_b.append(dictionary, ignore_index = True)

In [18]:
ig_b.dropna(inplace = True)
ig_b.set_index('Ticker', inplace = True, drop = True)

In [19]:
ig_b.head()

,NI19,NI20,NI21,NI22,NI19 (%),NI20 (%),NI21 (%),NI22 (%),EPS19,EPS20,...,EPS21 (%),EPS22 (%),PE19,PE20,PE21,PE22,PEG21,PBV22,ROE22,DY22 (%)
Ticker,,,,,,,,,,,,,,,,,,,,,
BPI,"28,803","21,409","22,883","28,910",25%,-26%,7%,26%,6.4,4.74,...,7%,26%,15.6,21.1,19.7,19.7,1.2,1.4,9.5,1.8%
CHIB,"10,069","12,063","15,187","15,104",24%,20%,26%,-1%,3.75,4.49,...,26%,-1%,7.0,5.9,4.7,4.7,0.4,0.5,12.2,3.8%
EW,"6,242","6,508","6,749","6,420",38%,4%,4%,-5%,2.77,2.89,...,4%,-5%,3.0,2.9,2.8,2.8,0.0,0.3,9.8,0.0%
MBT,"28,055","13,831","22,166","27,191",27%,-51%,60%,23%,6.24,3.08,...,60%,23%,8.7,17.7,11.1,11.1,0.3,0.7,8.0,1.8%
PNB,"9,681","2,615","26,168","8,030",2%,-73%,901%,-69%,6.98,1.71,...,901%,-69%,2.7,11.0,1.1,1.1,0.0,0.2,5.6,0.0%

# Investment Guide

**Variables**
<br>
NM - Net Margin
<br>
NMG - Net Margin Growth
<br>
RCAGR - Revenue CAGR
<br>
NICAGR - Net Income CAGR
<br>
EPSCAGR - Earnings per Share CAGR
<br>
NMCAGR - Net Margin CAGR
<br>
3PE - 3 Year Average PE

In [20]:
ig = ig_a.merge(ig_b, left_index = True, right_index = True).astype('str')

In [21]:
ig.sort_index(inplace = True)

#### Clean Categorical Variables

In [22]:
ig['CN'] = ig['CN'].apply(lambda x: x.strip('c\r'))

In [23]:
ig['COL Rating'] = ig['COL Rating'].apply(lambda x: x if re.match('BUY|SELL|HOLD', x) is not None else None)

In [24]:
ig['Date of Update'] = ig['Date of Update'].apply(lambda x: x if re.match('\d', x) is not None else None)

In [25]:
ig['Date of Update'] = pd.to_datetime(ig['Date of Update'])

#### Clean Numerical Variables

In [26]:
categorical = ['CN', 'COL Rating', 'Date of Update']

numerical = list(ig.columns)

for i in categorical:
    numerical.remove(i)
    
for i in numerical:
    ig[i] = ig[i].apply(lambda x: string_number(x))

#### BV - Book Value
$$ PBV = \frac{P}{BV} $$
$$ BV = \frac{P}{PBV} $$

In [27]:
ig['BV'] = ig['P'] / ig['PBV' + str(year + 3)]

#### E - Equity
$$ ROE = \frac{NI}{E} $$
$$ E = \frac{NI}{ROE} $$

In [28]:
ig['E'] = ig['NI' + str(year + 3)] / ig['ROE' + str(year + 3)]

#### D - Dividend
$$ DY \ (\%) = \frac{D}{P} $$
$$ D = DY \ (\%) \times P $$

In [29]:
ig['D'] = ig['DY' + str(year + 3) + ' (%)'] * ig['P']

#### NM - Net Margin
$$ NM = \frac{NI}{R}\times100\% $$

In [30]:
for i in [str(year + i) for i in range(4)]:
    ig['NM' + i] = ig['NI' + i] / ig['R' + i] * 100

#### NM (%) - Net Margin Growth
$$ NM \ (\%) = \frac{NM_{Final}-NM_{Initial}}{NM_{Initial}}\times100\% $$

In [31]:
for i in [str(year + i + 1) for i in range(3)]:
    ig['NM' + i + ' (%)'] = (ig['NM' + i] - ig['NM' + str(int(i) - 1)]) / ig['NM' + str(int(i) - 1)] * 100

#### CAGR - Compound Annual Growth Rate
$$ CAGR = \left(\left(\frac{Final}{Initial}\right)^{1/Time}-1\right)\times100\% $$

In [32]:
ig['RCAGR (%)'] = ((ig['R' + str(year + 3)] / ig['R' + str(year)]) ** (1 / 4) - 1) * 100
ig['NICAGR (%)'] = ((ig['NI' + str(year + 3)] / ig['NI' + str(year)]) ** (1 / 4) - 1) * 100
ig['EPSCAGR (%)'] = ((ig['EPS' + str(year + 3)] / ig['EPS' + str(year)]) ** (1 / 4) - 1) * 100
ig['NMCAGR (%)'] = ((ig['NM' + str(year + 3)] / ig['NM' + str(year)]) ** (1 / 4) - 1) * 100

#### 3PE - 3 Year Average Price to Earnings

In [33]:
ig['3PE'] = (ig['PE' + str(year + 0)] + ig['PE' + str(year + 1)] + ig['PE' + str(year + 2)]) / 3

#### View Data

In [34]:
ig = round(ig, 2)

In [35]:
ig.head()

,CN,P,COL Rating,Date of Update,COL FV,Buy Below,OS (Million),MC (Million),R19,R20,...,NM21,NM22,NM20 (%),NM21 (%),NM22 (%),RCAGR (%),NICAGR (%),EPSCAGR (%),NMCAGR (%),3PE
Ticker,,,,,,,,,,,,,,,,,,,,,
ABS,ABS-CBN BROADCASTING,12.92,None,2021-01-05,NaN,NaN,872.0,11556.0,43664.0,42518.0,...,6.91,6.91,-27.50,34.28,0.00,1.17,0.50,0.53,-0.67,3.90
AC,AYALA CORPORATION,817.50,BUY,2021-11-15,962.00,836.0,620.0,506608.0,264904.0,193622.0,...,12.53,14.19,-33.52,41.53,13.28,-3.07,-1.51,-2.34,1.61,23.83
ACEN,AC ENERGY PHIL INC,8.30,HOLD,2021-10-19,5.54,4.6,20575.0,318021.0,15307.0,20439.0,...,37.53,55.15,-774.20,104.35,46.95,3.54,NaN,NaN,NaN,-23.37
AEV,ABOITIZ EQUITY VENTU,58.95,HOLD,2021-01-05,54.96,43.9,5630.0,331902.0,201157.0,175166.0,...,8.73,9.70,-37.74,28.03,11.03,-0.53,-3.52,-3.50,-3.01,21.43
AGI,ALLIANCE GLOBAL,12.90,BUY,2021-11-22,23.39,20.3,10270.0,122111.0,174563.0,124555.0,...,9.97,10.50,-30.18,40.71,5.24,-1.36,-0.53,-0.57,0.84,10.27

In [36]:
ig.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, ABS to WLCON
Data columns (total 55 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CN              61 non-null     object
 1   P               61 non-null     float64
 2   COL Rating      58 non-null     object
 3   Date of Update  59 non-null     datetime64[ns]
 4   COL FV          58 non-null     float64
 5   Buy Below       58 non-null     float64
 6   OS (Million)    61 non-null     float64
 7   MC (Million)    61 non-null     float64
 8   R19             61 non-null     float64
 9   R20             61 non-null     float64
 10  R21             61 non-null     float64
 11  R22             61 non-null     float64
 12  R19 (%)         61 non-null     float64
 13  R20 (%)         61 non-null     float64
 14  R21 (%)         61 non-null     float64
 15  R22 (%)         61 non-null     float64
 16  NI19            61 non-null     float64
 17  NI20            61 non-null     float64
 18  NI21            61 non-null     float64
 19  NI22            61 non-null     float64
 20  NI19 (%)        61 non-null     float64
 21  NI20 (%)        61 non-null     float64
 22  NI21 (%)        61 non-null     float64
 23  NI22 (%)        61 non-null     float64
 24  EPS19           61 non-null     float64
 25  EPS20           61 non-null     float64
 26  EPS21           61 non-null     float64
 27  EPS22           61 non-null     float64
 28  EPS19 (%)       61 non-null     float64
 29  EPS20 (%)       61 non-null     float64
 30  EPS21 (%)       61 non-null     float64
 31  EPS22 (%)       61 non-null     float64
 32  PE19            61 non-null     float64
 33  PE20            61 non-null     float64
 34  PE21            61 non-null     float64
 35  PE22            61 non-null     float64
 36  PEG21           55 non-null     float64
 37  PBV22           61 non-null     float64
 38  ROE22           61 non-null     float64
 39  DY22 (%)        61 non-null     float64
 40  BV              61 non-null     float64
 41  E               61 non-null     float64
 42  D               61 non-null     float64
 43  NM19            61 non-null     float64
 44  NM20            61 non-null     float64
 45  NM21            61 non-null     float64
 46  NM22            61 non-null     float64
 47  NM20 (%)        61 non-null     float64
 48  NM21 (%)        61 non-null     float64
 49  NM22 (%)        61 non-null     float64
 50  RCAGR (%)       61 non-null     float64
 51  NICAGR (%)      57 non-null     float64
 52  EPSCAGR (%)     57 non-null     float64
 53  NMCAGR (%)      57 non-null     float64
 54  3PE             61 non-null     float64
dtypes: datetime64[ns](1), float64(52), object(2)
memory usage: 26.7+ KB

#### Export Data

In [37]:
ig.to_csv('IG.csv')

In [38]:
ig.to_excel('IG.xlsx')